/* Object */
/* {"Dark Magenta":"802392","Purpureus":"995fa3","Cool Grey":"9a98b5","Pewter Blue":"a0b9c6","Magic Mint":"a5f8d3","Mindaro":"dbfe87"} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h3 {
  font-variant: small-caps;
  font-family: "papyrus";
  text-align: center;
  margin: 0;
  background: #eb7bc0;
}

p {
  font-family: "Copperplate Gothic Light";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}